@import 'color';
@import 'shadow';
@import 'transition';

%card {
  @include transition(box-shadow);
  box-sizing: content-box;
  border: 1px solid $borderColor;
  border-radius: 2px;
  background-color: $paperColor;

  .divider {
    height: 0px;
    width: 100%;
    border-top: 1px solid $borderColor;
  }
}

.outlined {
  @extend %card;
  @include shadow(0);
}

.elevated {
  @extend %card;
  @include shadow(1);
}
