@import 'color';
@import 'shadow';

// コードセル全体
.codeCell {
  margin: 8px 0px;
}

// コードセルのエディタ部分
.codeCellEditor {
  margin: 4px 0px;
}

// コードセルの下部
.codeCellFooter {
  padding: 0;
}

// コードセルの上部
.codeCellHeader {
  span {
    margin: 4px;
    color: $textColor;
  }
}

// ヘッダー
.header {
  @include shadow(1);
  flex: 0 0 44px;
  color: $textColor;
  background-color: $paperColor;
  z-index: 100;
  overflow: hidden;
}

// テキストセル
.textCell {
  margin: 8px 0px;
  color: $textColor;
}
