@import 'color';
@import 'shadow';
@import 'text';
@import 'transition';

.line:after {
  @include transition(background-color, box-shadow);
  color: $alterColor !important; /* Override color of .vs-whitespace" */
  background-color: $primaryColor;
  content: $insertCode;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 8px;
  position: absolute;
  right: 16px;
  bottom: 0px;
}

.line:hover {
  &:after {
    @include shadow(1);
    background-color: adjust-color($primaryColor, $lightness: 4%);
  }
}

.emphasized:after {
  @extend .line;
  @include shadow(1);
  transform: scale(2);
  transform-origin: bottom right;
}
