$primaryColor: #4a90e2;
$primaryHoverColor: #5c9be4;
$accentColor: #ff2e63;
$alterColor: #ffffff; // 色付きボタンの文字色
$borderColor: #edf0f3; // セルなどの線の色
$backgroundColor: #edf0f3; // .inner の背景色
$hoverColor: #edf0f3; // マウスオーバーされた時の背景色
$paperColor: #ffffff; // ヘッダなどの背景色
$disableColor: #b4c1cc; // disabled button の背景色

$textColorBase: #232f34;
$textColor: rgba($textColorBase, 0.75);
$activeColor: rgba($textColorBase, 0.5); // アクティブなボタンの文字色
$inactiveColor: rgba($textColorBase, 0.16); // 非アクティブなボタンの文字色
