@import 'shadow';
@import 'color';
@import 'transition';

%base {
  border: none;
  border-radius: 2px;
  padding: 4px;
  color: $activeColor;
  &.disabled {
    color: $inactiveColor;
  }
  &:not(.disabled) {
    cursor: pointer;
    &:hover {
      background-color: $hoverColor;
    }
  }
}

.icon {
  @extend %base;
  @include transition(color, background-color);
  &.primary:hover:not(.disabled) {
    color: $primaryColor;
    background-color: transparent;
  }

  i {
    font-size: 18px;
  }
}

.label {
  @extend %base;
  @include transition(color, background-color, box-shadow);
  display: flex;
  align-items: center;
  flex-direction: row;
  &.vertical {
    flex-direction: column;
  }
  &.primary {
    color: $alterColor;
    background-color: $primaryColor;
    margin: 0 4px;
    padding: 4px;
    &:hover {
      @include shadow(1);
      color: $alterColor;
      background-color: $primaryHoverColor;
    }
  }

  i {
    font-size: 18px;
    & + span {
      padding-right: 4px;
    }
  }
  span {
    margin-left: 2px;
  }
}
