@import 'shadow';
@import 'color';
@import 'transition';

%base {
  border: none;
  border-radius: 2px;
  padding: 4px;
  color: $activeColor;
  &.disabled {
    color: $inactiveColor;
    pointer-events: none;
  }
  &:not(.disabled) {
    cursor: pointer;
    &:hover {
      background-color: $hoverColor;
    }
  }
}

.icon {
  @extend %base;
  @include transition(color, background-color);
  &.primary:hover:not(.disabled) {
    color: $primaryColor;
    background-color: transparent;
  }

  i {
    font-size: 18px;
  }
}

.label {
  @extend %base;
  @include transition(color, background-color, box-shadow);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  &.vertical {
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }
  &.primary {
    color: $alterColor;
    background-color: $primaryColor;
    margin: 0 4px;
    padding: 4px;
    &:hover:not(.disabled) {
      @include shadow(1);
      color: $alterColor;
      background-color: $primaryHoverColor;
    }
    &.disabled {
      @include shadow(0);
      color: $activeColor;
      background-color: #b4c1cc;
    }
  }
  &.large {
    font-size: 20px;
    padding: 12px 12px;

    i {
      font-size: 24px;
      & + span {
        padding: 0px 6px 0px 2px;
      }
    }
  }

  i {
    font-size: 18px;
    & + span {
      padding: 0px 4px 0px 0px;
    }
  }
  span {
    margin-left: 2px;
    padding: 2px 8px;
  }
}
