.card {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 8px;
  transition-property: box-shadow;
  transition-duration: 250ms;
}

.card0 {
  composes: card;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.card1 {
  composes: card;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
