@import 'color';
@import 'shadow';

@mixin card() {
  box-sizing: content-box;
  border: 1px solid $borderColor;
  border-radius: 2px;
  background-color: $paperColor;
  transition-property: box-shadow;
  transition-duration: 250ms;

  .divider {
    height: 0px;
    width: 100%;
    border-top: 1px solid $borderColor;
  }
}

.outlined {
  @include card();
  @include shadow(0);
}

.elevated {
  @include card();
  @include shadow(1);
}
