@import 'cards';

// コードセル全体
.codeCell {
  margin: 8px 0px;
}

// コードセルのエディタ部分
.codeCellEditor {
  margin: 4px 0px;
}

// コードセルの下部
.codeCellFooter {
  padding: 2px 0;
}

// コードセルの上部
.codeCellHeader {
  span {
    margin: 4px;
  }
}

// ヘッダー
.header {
  @include shadow(1);
  flex: 0 0 32px;
  z-index: 1;
}

// テキストセル
.textCell {
  margin: 8px 0px;
}
