@import 'shadow';
@import 'color';
@import 'transition';

$width: 32px;
$height: 32px;
$padding: 2px;
$margin: 6px;

%button {
  @include transition(color, background-color, box-shadow);
  cursor: pointer;
  width: $width;
  height: $height;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: $alterColor;
  &:hover {
    @include shadow(1);
  }
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(#0e3454, 0.3);
  z-index: 10;
}

.item {
  @extend %button;
  margin: $margin;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 2px;
  &.selected {
    background-color: #344955;
  }
  &:hover {
    background-color: $hoverColor;
  }

  // img
  * {
    width: $width - $padding * 2;
    height: $height - $padding * 2;
  }
}

.search {
  @extend %button;
  margin: $margin $margin * 2 $margin $margin;
  color: $accentColor;
  background-color: $paperColor;
  &:hover {
    color: $paperColor;
    background-color: $accentColor !important;
  }

  i {
    font-size: 24px;
  }
}

.divider {
  border-left: 1px solid $alterColor;
  align-self: stretch;
  margin: $margin;
}
