@import 'shadow';
@import 'color';
@import 'transition';

$width: 32px;
$height: 32px;
$padding: 2px;
$margin: 6px;
$column: 800px;
$columnPadding: 16px;
$buttonMargin: 8px;
$paneColor: rgba(#344955, 0.9);

%button {
  @include transition(color, background-color, box-shadow);
  cursor: pointer;
  width: $width;
  height: $height;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: $alterColor;
  &:hover {
    @include shadow(1);
  }
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.bar {
  @include transition(background-color);
  position: relative;
  background-color: $paneColor;

  .item {
    @extend %button;
    margin: $margin;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 2px;
    &.selected {
      background-color: #344955;
    }
    &:hover {
      background-color: $hoverColor;
    }

    // img
    & > * {
      width: $width - $padding * 2;
      height: $height - $padding * 2;
    }
  }

  & > input {
    align-self: stretch;
    margin: 6px 8px 6px -4px;
    border-radius: 2px;
    border: none;
    padding: 0px 16px;
    font-size: 16px;
    flex: 1;
    max-width: 16em;
  }

  &.opened {
    background-color: change-color($color: $paneColor, $alpha: 1);
  }
}

.search {
  @extend %button;
  margin: $margin $margin * 2 $margin $margin;
  color: $accentColor;
  background-color: $paperColor;
  &:hover {
    color: $paperColor;
    background-color: $accentColor !important;
  }

  & > i {
    font-size: 24px;
  }
}

.divider {
  border-left: 1px solid $alterColor;
  align-self: stretch;
  margin: $margin;
}

.pane {
  @include transition(transform);
  position: relative;
  min-height: 100px;
  width: 100%;
  height: 500px; // TODO: flexible
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $paneColor;
  transform-origin: bottom center;
  transform: scaleY(1);
  &.hidden {
    transform: scaleY(0);
  }

  & > .close {
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    color: $alterColor;
    z-index: 1;
    &:hover {
      color: $textColor;
    }

    & > i {
      font-size: 24px;
    }
  }
}

.backdrop {
  position: absolute;
  bottom: 100%;
  height: 100vh;
  width: 100%;
}

.category {
  position: absolute;
  top: -84px;
  height: 84px;
  box-sizing: border-box;
  width: 100%;
  max-width: $column;
  padding: 0px $columnPadding + $buttonMargin;
  align-items: stretch;
  .item {
    color: $textColor;
    background-color: $disableColor;
    padding: 8px 32px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 4px;
    font-weight: 600;
  }
  .item.selected {
    color: $alterColor;
    background-color: $paneColor;
  }
}

.asset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $column;
  padding: 0px $columnPadding;
  overflow: scroll;
  box-sizing: border-box;

  .button {
    @include transition(box-shadow);
    border: none;
    outline: none;
    border-radius: 2px;
    width: 64px;
    height: 64px;
    margin: $buttonMargin 0px 0px $buttonMargin;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $paperColor;
  }
  .button:hover {
    @include shadow(1);
    background-color: $hoverColor;
  }

  .icon {
    height: 38px;
    width: 38px;
  }

  .name {
    font-size: 10px;
    font-weight: 600;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(
      adjust-color($paneColor, $alpha: -1),
      adjust-color($paneColor, $alpha: 1)
    );
  }
}

.detail {
  @include shadow(1);
  background-color: $paperColor;
  padding: 16px;
  &.hidden {
    display: none;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header {
    padding: 0;
  }

  .name {
    color: $textColor;
    font-weight: 600;
    padding-right: 4px;
  }

  .description {
    color: $textColor;
    font-size: 12px;
  }

  .variation {
    padding: 0;
  }

  .button {
    width: 48px;
    height: 48px;
    margin-right: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: $borderColor;
    background-color: $borderColor;
    cursor: pointer;
  }
  .button.paid {
    border-color: $paidColor;
  }
}
