@import 'color';

.button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 150ms ease-in-out;
  padding: 4px;
  color: $activeColor;
  &.disabled {
    color: $inactiveColor;
  }
  &.vertical {
    flex-direction: column;
  }
  &:hover:not(.disabled) {
    color: $primaryColor;
  }
  &:not(.disabled) {
    cursor: pointer;
  }

  i {
    font-size: 18px;
  }
  span {
    margin-left: 2px;
  }
}
