@import 'shadow';
@import 'color';

.button {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color, box-shadow 150ms ease-in-out;
  padding: 4px;
  color: $activeColor;
  &.disabled {
    color: $inactiveColor;
  }
  &.vertical {
    flex-direction: column;
  }
  &:hover:not(.disabled) {
    background-color: $hoverColor;
  }
  &.primaryOnHover:hover:not(.disabled) {
    color: $primaryColor;
    background-color: transparent;
  }
  &:not(.disabled) {
    cursor: pointer;
  }
  &.primary {
    color: $alterColor;
    background-color: $primaryColor;
    margin: 0 4px;
    padding: 4px 8px 4px 4px;
    &:hover {
      @include shadow(1);
      color: $alterColor;
      background-color: $primaryHoverColor;
    }
  }

  i {
    font-size: 18px;
  }
  span {
    margin-left: 2px;
  }
}
