.widget {
  z-index: 100;
}

.widget:hover {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

.widget:hover:before {
  content: '▲';
  position: absolute;
  top: -16px;
}

.widget:hover:after {
  content: '▼';
  position: absolute;
  top: 16px;
}

.line {
  background-color: rgba(0, 0, 0, 0.1);
}
