@import 'shadow';
@import 'color';
@import 'text';

.line:after {
  color: #ffffff !important; /* Override color of .vs-whitespace" */
  background-color: $primaryColor;
  content: $insertCode;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  right: 16px;
  bottom: 0px;
}

.emphasized:after {
  @extend .line;
  @include shadow(1);
  transform: scale(2);
  transform-origin: bottom right;
}
