.monaco-editor.focused .monaco_suggest_button:after,
.monaco_suggest_button_emphasize:after {
  color: black !important; /* Override color of .vs-whitespace" */
  background-color: rgba(0, 0, 0, 0.1);
  content: '+ INSERT CODE';
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  right: 16px;
  bottom: 0px;
}

.monaco_suggest_button_emphasize:after {
  animation: monaco_suggest_button_emphasize 1s ease-in-out infinite alternate;
  transform: scale(2);
  transform-origin: bottom right;
}

@keyframes monaco_suggest_button_emphasize {
  0% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(200, 200, 200);
  }
}
