.monaco_suggest_button:after,
.monaco_suggest_button_emphasize:after {
  content: '+ INSERT CODE';
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  right: 0px;
}

.monaco_suggest_button_emphasize:after {
  animation: monaco_suggest_button_emphasize 1s ease-in-out infinite alternate;
}

@keyframes monaco_suggest_button_emphasize {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
