@import 'color';
@import 'shadow';
@import 'size';
@import 'transition';

// .outer から .floor と .output を除いた領域
.inner {
  flex: 1 0 50%;
  width: 50%;
  position: relative;
}

// マップ選択領域
.floor {
  flex: 0 0 32px;
  padding-top: 32px;
  padding-bottom: $footerHeight;
  background-color: $paperColor;
  z-index: 3;
}

%base {
  @include transition(transform);
  will-change: transform;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}
// エディタ表示部分
.editorView {
  @extend %base;
  padding: 8px 8px $footerHeight 8px;
  overflow: scroll;

  z-index: 9;
  transform: translateX(0%);
  &.exiting {
    z-index: 1;
    transform: translateX(50%); // because width: 200%
  }

  // HACK: Show the Suggestion Widget above of output
  width: 200%;
  & > * {
    width: 50%;
  }

  // .output の上にあり、 iframe に focus を与える
  .outputCover {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
  }
}

// マップ選択表示部分
.mapView {
  @extend %base;
  width: 100%;
  height: 100%;
  padding: 8px 0px 0px 8px;
  overflow: hidden;

  transform: translateX(0%);
  &.exiting {
    transform: translateX(-100%);
  }
}

// .header を除いた全領域
.outer {
  flex: 1;
  overflow: hidden;
  background-color: $backgroundColor;
}

// 出力結果表示領域
.output {
  box-sizing: border-box;
  flex: 0 1 50%;
  width: 50%;
  padding: 16px 16px $footerHeight + 8px 8px;
  z-index: 2;
  &.bringFront {
    z-index: 10;

    iframe {
      @include shadow(1);
    }
  }

  iframe {
    @include transition(box-shadow);
    @include shadow(0);
    width: 100%;
    height: 100%;
  }
}

// 全領域
.root {
  width: 100%;
  height: 100%;
}

.displayNone {
  display: none !important;
}
