@import 'color';
@import 'shadow';
@import 'transition';

// Footer と重ならないようにするための余白
$paddingBottom: 48px;

// .outer から .floor と .output を除いた領域
.inner {
  flex: 1 0 50%;
  width: 50%;
  background-color: $backgroundColor;
  overflow: hidden;
  position: relative;
}

// マップ選択領域
.floor {
  flex: 0 0 32px;
  padding-top: 32px;
  padding-bottom: $paddingBottom;
  background-color: $paperColor;
  z-index: 2;
}

// エディタ表示部分
.editorView {
  @include transition(left);
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  overflow: scroll;
  padding-bottom: $paddingBottom;
  width: 100%;
  height: 100%;
  left: 0px;

  &.hidden {
    left: 100%;
  }
}

// マップ選択表示部分
.mapView {
  @extend .editorView;
  height: 100%;
  overflow: hidden;
  padding-right: 0px;
  left: 0px;

  &.hidden {
    left: -100%;
  }
}

// .header を除いた全領域
.outer {
  flex: 1;
  overflow: hidden;
}

// 出力結果表示領域
.output {
  box-sizing: border-box;
  flex: 0 1 50%;
  width: 50%;
  padding: 16px 16px $paddingBottom 8px;
  background-color: $backgroundColor;
  z-index: 1;

  iframe {
    width: 100%;
    height: 100%;
    @include shadow(1);
  }
}

// 全領域
.root {
  width: 100%;
  height: 100%;
}
